@import './colors'

*
  box-sizing: border-box
  border: solid 1px #eeee

html, body
  padding: 0
  margin: 0
  font-size: 12px
  color: red  // for develop easier
  width: 100vw
  height: 100vh
  overflow: hidden
  font-family: SF Pro Display

::placeholder
  color: white

::-webkit-scrollbar 
  display: none