@import '../global/colors'
  
.appContainer
  height: 100vh
  background-color: $black
  color: $font
  // color: $grey
  .content
    display: flex
    align-items: center
    height: calc(100% - 8rem) // minus Nav height
  .page
    height: 100%
    width: 100%
    overflow: scroll
//     width: 32rem
//     margin: auto
//     padding: 5rem 0 


// @media screen and (min-width: 768px)
//   .appContainer
//     .pageContent
//       width: 70rem

// @media screen and (min-width: 900px)
//   .appContainer
//     .pageContent
//       width: 80rem

// @media screen and (min-width: 1024px)
//   .appContainer
//     .pageContent
//       width: 90rem

// @media screen and (min-width: 1440px)
//   .appContainer
//     .pageContent
//       width: 105rem

// @media screen and (min-width: 1700px)
//   .appContainer
//     .pageContent
//       width: 120rem