@import '../global/colors'

.metamaskConnectBtn
  width: 16rem
  height: 5rem
  border: none
  // color: #fff
  color: $white
  cursor: pointer
  display: flex
  align-items: center
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 16px
  font-weight: 600
  height: 48px
  line-height: 48px
  padding: 0 1.2rem
  border-radius: 4px
  background-color: $grey2
  justify-content: space-between
  &:hover
    opacity: .9
  .walletIcon
    width: 3rem
    height: 3rem