@import '../global/colors'

.sidebar
  width: 22rem
  height: 100%
  overflow: scroll
  padding: 2rem 0
  border: solid .1rem #A8B3CF33
  font-size: 1.4rem
  display: none
  .groupLabel
    padding: 0 1rem
    margin: 2rem 0 1rem 0
  .label
    padding: 1rem 3rem
    &:hover
      // background-color: $grey
      background-color: $yellow
      cursor: pointer
      color: $white
  .highlightRoute
    background-color: $grey
    // opacity: .9
    // background-color: rgba(0,0,0,.5)
    background-color: $yellow
    cursor: pointer
    color: $white

@media screen and (min-width: 1024px)
  .sidebar
    display: block

