.profileId
  border: solid .1rem rgba(255, 255, 255, .2)
  padding: 2rem 
  width: 50%
  margin: 5rem auto
  .userInfo
    display: flex
    align-items: flex-start
    justify-content: flex-start
  .avatar
    background-color: white
    width: 10rem
    height: 10rem
    border-radius: 2rem
    overflow: hidden
    flex-shrink: 0
    img
      width: 100%
      height: 100%
  .userInfoBlock
    margin-left: 5rem
    color: white
  .userName
    font-size: 2.5rem
    font-weight: 700
  .userId
    font-size: 1.6rem
    font-weight: 500
    margin-top: 1rem
  .userBio
    font-size: 1.4rem
    margin-top: 1rem
  .userJoinedDate
    margin-top: 1rem
    font-size: 1.2rem
    color: grey
  .followDataBlock
    display: flex
    align-items: center
    div
      margin-right: 2rem
      &:hover
        cursor: pointer
        opacity: .5
        border-bottom: solid .1rem grey
  .followBtnBlock
    margin: 1.5rem
  .followBtn
    border-radius: 5rem
    padding: .8rem 1.2rem
    width: fit-content
    background-color: #fff
    cursor: pointer
    color: #333333
    font-weight: 600

